*{
    padding: 0;
    margin: 0;

}
#anim{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/paisaje1.png);
    background-repeat: no-repeat;
    background-size:101% 100%;
}
#mensajes{
    opacity: 0;
    position: fixed;
    margin: 60vh 40vw;
    width: 20vw;
    height: 15vh;
    animation-name: mensaje;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    background-image: url(../images/mensaje.png);
    background-size: 100%;
    background-position: 100% 95%;
}
#nube{
    position: fixed;
    z-index: 10;
    display: flex;
    background-image: url(../images/nube.png);
    background-size: 100% 100%;
    width:30%;
    height: 30%;
    animation: nube 10s 1;
    animation-delay: 4s;
    right: -30%;
    justify-content: center;
}
#gotas{
    position:relative;
    display: flex;
    z-index: 1;
    top: 70%;
}
#gotas span{
    position: relative;
    bottom: 10px;
    width: 10px;
    height: 15px;
    opacity: 0%;
    border-radius: 100% 100% 80% 80%;
    background-color: rgba(58, 58, 255, 0.813);
    margin: 0 2px;
    animation-name: llover;
    animation-timing-function: linear;
    animation-delay: 7.7s;
    animation-iteration-count: 5;
    animation-duration: calc(10s / var(--i));
    transform-origin: bottom;
}
#sol{
    position: fixed;
    background-image: url(../images/sol.png);
    width: 18vw;
    height: 28vh;
    background-size: 80%;
    background-repeat: no-repeat;
    align-self: flex-start;
    justify-self: left;
    margin-right: 20vw;
    opacity: 100%;
    animation: sol 13.5s;

}
#flor{
    background-image: url(../images/flor2.png);
    background-size: 40%;
    position: fixed;
    width: 20vw;
    height: 30vh;
    background-repeat: no-repeat;
    align-self: flex-end;
    left:27%;
    top:80%;
    animation: flor 15s 1;
}

@keyframes mensaje{
    0%{
        background-position :100% -3%;
    }
    12.5%{
        opacity: 50%;
        background-position: 100% -3%;
    }
    37.5%{
        opacity: 50%;
        background-position: 100% 35%;
    }
    62.5%{
        opacity: 50%;
        background-position: 100% 68%;
    }
    87.5%{
        opacity: 50%;
        background-position: 100% 95%;
    }
    25%, 50%, 75%, 100%{
        transition: opacity 2s;
        opacity: 0%;
    }
}

@keyframes llover{
    0%{
        opacity: 100%;
        transform: translateY(0) scale(1);
    }
    70%{
        opacity: 70%;
        transform: translateY(70vh) scale(1);      
    }
    100%{
        transform: translateY(70vh) scale(0);

    }
}

@keyframes nube{
    0%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(-255%);
    }
    70%{
        transform: translateX(-255%);
    }
    80%{
        transform: translateX(-255%);
    }
    100%{
        transform: translateX(-700%);
    }
}

@keyframes sol{
    0%,10%,20%,30%,40%,50%,60%,70%,80%,90%{
       opacity: 50%;
    }
    100%{
        transition: opacity 2s;
        opacity: 100%;
    }
}

@keyframes flor{
   0%,10%,20%,30%,40%,50%,60%,70%,80%,90%{
    top: 100%;        
   }
}
